@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,900);
html,
body {
  box-sizing: border-box;
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: rgb(39, 38, 38);
}

.wrapper {
  max-width: 1400px;
  height: inherit;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  color: rgb(39, 38, 38);
  margin: 0 auto;
}

.container {
  background: linear-gradient(153deg, rgba(234, 174, 238, 0.5) 0%, rgba(236, 105, 189, 0.2) 100%);
}

.header {
  max-width: 1100px;
  margin: 15px 0 0 0;
  padding: 20px 0;
  text-align: end;
}
.header__nav {
  margin-right: 50px;
}
.header__nav-item {
  display: inline-flex;
  margin-right: 40px;
  transition: all ease 0.5s;
}

.header__nav-item:hover {
  font-weight: 600;
  border-bottom: 1px solid rgb(39, 38, 38);
}

.main {
  margin-top: -80px;
  height: inherit;
  background: url(../img/banner-1\ 2.svg);
  background-size: cover;
}

.bg {
  max-width: 1100px;
  margin: 0 auto;
  padding-top: 110px;
}
.bg__inner {
  display: flex;
}
.bg__inner-title {
  margin: 55px 0;
  font-size: 30px;
  font-weight: 600;
}
.bg__inner-text {
  margin-bottom: 40px;
  font-size: 24px;
}
.bg__inner-btns {
  display: flex;
  justify-content: center;
  gap: 25px;
}
.bg__kurs-img {
  margin-right: 20px;
}

.bg__kurs-usa, .bg__kurs-eur, .bg__kurs-pound, .bg__kurs-zl {
  margin-bottom: 5px;
  padding-left: 15px;
  display: flex;
}

.bg__btns-btn {
  width: 100px;
  height: 50px;
  border-radius: 15px;
  text-align: center;
}
.bg__btns-btn a {
  color: #fff;
  font-weight: 600;
}

.btn {
  background: #a879e6;
  box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, 0.3);
  transition: all ease 0.3s;
}

.btn:hover {
  background: rgb(180, 78, 180);
  box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, 0.5);
}

.about__inner {
  max-width: 1000px;
  margin: 110px auto 50px;
  padding: 0 15px;
  display: flex;
  box-shadow: 5px 5px 5px 3px rgba(0, 0, 0, 0.5);
}
.about__text {
  margin-top: 40px;
  margin-right: 20px;
  font-size: 20px;
}
.about__text-about {
  margin-top: 15px;
}

.shipping__inner {
  max-width: 1100px;
  height: 100%;
  margin: 60px auto;
  padding: 20px;
  border-radius: 20px;
  font-size: 20px;
  box-shadow: 5px 5px 5px 3px rgba(0, 0, 0, 0.5);
}
.shipping__inner-title {
  max-width: 500px;
  font-size: 25px;
  text-align: center;
  margin: 0 auto;
}
.shipping__inner-europe {
  padding: 15px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 50px;
}
.shipping__inner-usa {
  margin-top: 30px;
  display: grid;
}
.shipping__usa-title {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.shipping__usa-title img {
  display: block;
  margin-right: 15px;
}
.shipping__usa-item {
  display: flex;
  transition: all ease 0.5s;
}
.shipping__item {
  margin-top: 25px;
  transition: all ease 0.5s;
}
.shipping__item-title {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}
.shipping__item-title img {
  margin-right: 15px;
  display: block;
}
.shipping__item-usa {
  margin-left: 20px;
}
.shipping-title-text {
  margin: 15px 0;
}
.shipping__usa {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: 50px;
}

.item-ship {
  border: 2px solid rgba(32, 32, 32, 0.4);
  border-radius: 15px;
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.5);
  padding: 15px;
}

.shipping__item:hover {
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.8);
  transform: scale(1.05);
}

.shipping__usa-item:hover {
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.8);
  transform: scale(1.05);
}

.ukr__inner {
  max-width: 1100px;
  margin: 30px auto;
  padding: 20px;
  background: #dec8fc;
  border-radius: 15px;
}
.ukr__info {
  margin-top: 20px;
  padding: 15px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 50px;
}
.ukr__warning {
  margin-top: 50px;
  display: flex;
  align-items: flex-start;
  font-size: 14px;
}
.ukr__warning-img {
  margin-right: 20px;
  display: block;
}

.ukr__up-text, .ukr__np-text, .ukr__meest-text {
  margin-top: 15px;
  font-weight: 600;
  text-align: center;
}

.ukr__info-np a, .ukr__info-up a, .ukr__info-meest a {
  display: block;
  text-align: center;
}

.poltava__inner {
  margin: 50px auto;
  padding: 20px;
  box-shadow: 5px 5px 5px 3px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
}
.poltava__info {
  max-width: 900px;
  margin: 20px auto 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.poltava__info-img {
  margin-right: 20px;
}

.title {
  font-weight: 600;
}

.news__inner {
  padding: 0 15px;
}
.news__title {
  margin-bottom: 15px;
  font-size: 25px;
  text-align: center;
}
.news__cards {
  display: flex;
  gap: 30px;
}
.news__cards-card {
  max-width: 250px;
  border: 1px solid rgb(187, 184, 184);
  text-align: center;
}
.news__cards-title {
  margin: 25px 0;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
}
.news__cards-text {
  margin-bottom: 25px;
  font-size: 16px;
}
.news__cards-data {
  font-size: 12px;
  opacity: 0.7;
}

.bg__kurs-kurs {
  max-width: 300px;
  border: 2px solid rgb(187, 184, 184);
}/*# sourceMappingURL=style.css.map */