@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Poppins:regular,italic,500,500italic,600,600italic,700,700italic,800,900);
html,
body {
  box-sizing: border-box;
  height: 100%;
  background: #f5f5f5;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: rgb(39, 38, 38);
}

.wrapper {
  max-width: 1400px;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  color: rgb(39, 38, 38);
  margin: 0 auto;
}

.container {
  background: linear-gradient(153deg, rgba(234, 185, 238, 0.5) 0%, rgba(238, 124, 196, 0.2) 100%);
}

.header {
  margin: 0 5px 0 0;
  padding: 20px 0;
  text-align: end;
}
.header__nav-item {
  display: inline-flex;
  margin-right: 40px;
  transition: all ease 0.5s;
}

.header__nav-item:hover {
  font-weight: 600;
  border-bottom: 1px solid rgb(39, 38, 38);
}

.main {
  height: 100%;
}
.bg {
  max-width: 1400px;
  margin: 0 auto;
  color: #FFFFFF;
}
.bg__inner {
  padding: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  background: linear-gradient(79.63deg, #5B52A3 1.08%, #40B8EA 100%);
  border-radius: 25px;
}
.bg__inner-info {
  max-width: 550px;
}
.bg__inner-title {
  font-size: 30px;
  font-weight: 600;
}
.bg__inner-text {
  margin: 40px 0;
  font-size: 20px;
}
.bg__inner-img {
  flex: 30%;
}
.bg__inner-img img {
  width: 430px;
}
.bg__inner-btns {
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  gap: 50px;
}
.bg__kurs-img {
  margin-right: 20px;
}

.bg__kurs-usa, .bg__kurs-eur, .bg__kurs-pound, .bg__kurs-zl {
  margin-bottom: 5px;
  padding-left: 15px;
  display: flex;
}

.bg__btns-btn {
  width: 150px;
  height: 70px;
  border-radius: 15px;
  text-align: center;
  padding: 5px 0;
}
.bg__btns-btn a {
  color: #fff;
  font-weight: 600;
  letter-spacing: 1px;
}

.btn {
  background: #a879e6;
  box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, 0.3);
  transition: all ease 0.3s;
}

.btn:hover {
  background: rgb(180, 78, 180);
  box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, 0.5);
}

.things__inner {
  max-width: 1100px;
  margin: 70px auto;
}
.things__inner-title {
  font-size: 25px;
  text-align: center;
}
.things__cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
}
.things__card {
  padding: 15px;
  display: flex;
  align-items: center;
  gap: 17px;
  font-size: 16px;
}

.about__inner {
  max-width: 1000px;
  height: 100%;
  margin: 0 auto 80px;
  padding: 0 15px;
  display: flex;
  box-shadow: 5px 5px 5px 3px rgba(0, 0, 0, 0.5);
}
.about__text {
  margin-top: 40px;
  margin-right: 20px;
  font-size: 20px;
}
.about__text-about {
  margin-top: 15px;
}

.shipping__inner {
  max-width: 1100px;
  height: 100%;
  margin: 0 auto;
  padding: 20px;
  border-radius: 20px;
  font-size: 20px;
}
.shipping__inner-title {
  font-size: 25px;
  text-align: center;
  margin: 0 auto;
  padding: 30px;
  background: linear-gradient(79.63deg, #5B52A3 1.08%, #40B8EA 100%);
  border-radius: 20px;
  color: #fff;
}
.shipping__inner-europe {
  padding: 15px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 50px;
}
.shipping__inner-usa {
  margin-top: 30px;
  display: grid;
}
.shipping__usa-title {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.shipping__usa-title img {
  display: block;
  margin-right: 15px;
}
.shipping__usa-item {
  display: flex;
  transition: all ease 0.5s;
}
.shipping__item {
  margin-top: 25px;
  transition: all ease 0.5s;
}
.shipping__item-title {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}
.shipping__item-title img {
  margin-right: 15px;
  display: block;
}
.shipping__item-usa {
  margin-left: 20px;
}
.shipping-title-text {
  margin: 15px 0;
  font-weight: 600;
}
.shipping__usa {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
  gap: 50px;
}

.item-ship {
  border: 2px solid rgba(32, 32, 32, 0.4);
  border-radius: 15px;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.3);
  padding: 15px;
}

.shipping__item:hover {
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.8);
  transform: scale(1.05);
}

.shipping__usa-item:hover {
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.8);
  transform: scale(1.05);
}

.pound-grn, .euro-grn, .zlot-grn, .sea-grn, .air-grn {
  font-weight: 600;
  margin-right: 20px;
}

.ukr__inner {
  max-width: 1100px;
  margin: 30px auto;
  padding: 20px;
  background: #dec8fc;
  border-radius: 15px;
}
.ukr__info {
  margin-top: 20px;
  padding: 15px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 50px;
}
.ukr__warning {
  margin-top: 50px;
  display: flex;
  align-items: flex-start;
  font-size: 14px;
}
.ukr__warning-img {
  margin-right: 20px;
  display: block;
}

.ukr__up-text, .ukr__np-text, .ukr__meest-text {
  margin-top: 15px;
  font-weight: 600;
  text-align: center;
}

.ukr__info-np a, .ukr__info-up a, .ukr__info-meest a {
  display: block;
  text-align: center;
}

.poltava__inner {
  max-width: 1100px;
  margin: 50px auto;
  padding: 20px;
  box-shadow: 5px 5px 5px 3px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
}
.poltava__info {
  max-width: 900px;
  margin: 20px auto 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.poltava__info-img {
  margin-right: 20px;
}

.title {
  font-weight: 600;
}

.news__inner {
  padding: 0 15px;
  overflow: hidden;
}
.news__title {
  margin-bottom: 15px;
  font-size: 25px;
  flex: 70%;
  text-align: center;
}
.news__title-buttons {
  display: flex;
}
.news__cards {
  max-width: 1400px;
  display: flex;
  gap: 30px;
  position: relative;
  left: 0;
  transition: all ease 0.7s;
}
.news__cards-card {
  max-width: 250px;
  height: 430px;
  border: 1px solid rgb(187, 184, 184);
  text-align: center;
  position: relative;
  background: #fff;
  float: left;
}
.news__cards-title {
  margin: 25px 0;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
}
.news__cards-text {
  margin-bottom: 25px;
  font-size: 16px;
}
.news__cards-data {
  font-size: 12px;
  opacity: 0.7;
  text-align: center;
  flex: 0 0 auto;
  position: absolute;
  bottom: 0;
  left: 40%;
}
.news__buttons {
  display: flex;
  gap: 10px;
}

.prev-btn, .next-btn {
  width: 25px;
  height: 30px;
  background: #a879e6;
  border-radius: 5px;
}

.bg__kurs-kurs {
  max-width: 300px;
  height: 430px;
  border: 2px solid rgb(187, 184, 184);
}

.bg__kurs-data {
  font-size: 12px;
  opacity: 0.7;
  text-align: center;
}

.footer__inner {
  margin-top: 50px;
  padding: 40px;
  background: linear-gradient(79.63deg, #5B52A3 1.08%, #40B8EA 100%);
  border-radius: 25px;
  color: #fff;
}
.footer__contacts {
  display: flex;
  justify-content: center;
  gap: 15px;
  font-size: 20px;
}

.shops__title {
  padding: 30px;
  margin-bottom: 20px;
  background: linear-gradient(79.63deg, #5B52A3 1.08%, #40B8EA 100%);
  border-radius: 20px;
  font-size: 25px;
  text-align: center;
  color: #fff;
}
.shops__info-img {
  height: 130px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border-radius: 10px;
  cursor: pointer;
}
.shops__info-img img {
  width: 150px;
  display: block;
}
.shops__about {
  padding: 15px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  justify-items: center;
}
.shops__about-card {
  width: 200px;
  height: 180px;
  background: #fff;
  border-radius: 15px;
  position: relative;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.3);
}
.shops__usa {
  margin: 30px 0;
}

.shops__info-list {
  max-width: 250px;
  padding: 0 10px 10px;
  position: absolute;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  font-size: 14px;
}

.shops__info-shop {
  width: 100%;
  height: 40px;
  margin-top: 10px;
  font-weight: 600;
  font-size: 20px;
  background: rgb(153, 68, 153);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.shops__info-shop a {
  color: #fff;
}

.hidden {
  display: none;
}

.open {
  display: block;
}

.order__inner {
  max-width: 1100px;
  margin: 0 auto;
}
.order__title {
  padding: 30px;
  background: linear-gradient(79.63deg, #5B52A3 1.08%, #40B8EA 100%);
  border-radius: 20px;
  color: #fff;
  font-size: 25px;
  text-align: center;
}
.order__card {
  margin-top: 30px;
  display: flex;
  align-items: start;
  gap: 70px;
}
.order__card-img img {
  width: 280px;
}
.order__card-content {
  max-width: 500px;
}
.order__card-subtitle {
  max-width: 500px;
  display: flex;
  align-items: center;
  gap: 70px;
}
.order__card-num {
  font-weight: 600;
  font-size: 40px;
  color: rgb(180, 78, 180);
}
.order__card-sub {
  font-size: 25px;
  text-transform: uppercase;
}
.order__card-text {
  margin-top: 15px;
  opacity: 0.7;
}
.order__card-text a {
  font-weight: 600;
  color: rgb(141, 60, 141);
  opacity: 1;
}

input {
  position: absolute;
  opacity: 0;
  z-index: -1;
}

.general-title {
  padding: 30px;
  background: linear-gradient(79.63deg, #5B52A3 1.08%, #40B8EA 100%);
  border-radius: 30px;
  color: #fff;
  font-size: 25px;
  text-align: center;
}

.tabs {
  border-radius: 8px;
  overflow: hidden;
}

.tab {
  width: 100%;
  overflow: hidden;
}
.tab-label {
  margin: 15px;
  padding: 10px 40px;
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  cursor: pointer;
  box-shadow: 1px 3px 3px 2px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  /* Icon */
}
.tab-label::after {
  content: "❯";
  width: 1em;
  height: 1em;
  text-align: center;
  transition: all 0.35s;
}
.tab-content {
  max-height: 0;
  padding: 0 10px;
  transition: all 0.35s;
  opacity: 0.7;
}
.tab-content a {
  font-weight: 600;
  color: rgb(180, 78, 180);
}
.tab-close {
  display: flex;
  justify-content: flex-end;
  padding: 10px;
  font-size: 0.75em;
  cursor: pointer;
}
input:checked + .tab-label::after {
  transform: rotate(90deg);
}
input:checked ~ .tab-content {
  max-height: 100vh;
  padding: 1em;
}

@media (max-width: 990px) {
  .bg__inner-img img {
    width: 300px;
  }
  .news__cards {
    max-width: 990px;
  }
}
@media (max-width: 767px) {
  .bg__inner-img {
    display: none;
  }
  .bg__inner-title {
    margin-top: 20px;
  }
  .header {
    text-align: start;
  }
  .header-burger {
    display: flex;
    justify-content: flex-end;
  }
  .header__nav li {
    display: block;
  }
  .header__nav-item {
    margin-left: 20px;
  }
  .header__nav .menu ul {
    padding-top: 30px;
  }
  .menu-btn {
    width: 30px;
    height: 30px;
    position: relative;
    z-index: 2;
    overflow: hidden;
    right: 10px;
  }
  .menu-btn span {
    width: 30px;
    height: 2px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #222222;
    transition: all 0.5s;
  }
  .menu-btn span:nth-of-type(2) {
    top: calc(50% - 5px);
  }
  .menu-btn span:nth-of-type(3) {
    top: calc(50% + 5px);
  }
  .menu {
    position: fixed;
    top: 10px;
    right: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    transform: translateX(100%);
    transition: transform 0.5s;
  }
  .menu.active {
    width: 200px;
    transform: translateX(0%);
    z-index: 1;
  }
  .menu li {
    list-style-type: none;
  }
  .menu-btn.active span:nth-of-type(1) {
    display: none;
  }
  .menu-btn.active span:nth-of-type(2) {
    top: 50%;
    transform: translate(-50%, 0%) rotate(45deg);
  }
  .menu-btn.active span:nth-of-type(3) {
    top: 50%;
    transform: translate(-50%, 0%) rotate(-45deg);
  }
  .order__card {
    gap: 10px;
  }
  .order__card-subtitle {
    gap: 30px;
  }
  .order__card-img img {
    width: 200px;
  }
}
@media (max-width: 500px) {
  .wrapper {
    max-width: 499px;
  }
  .bg {
    padding: 30px 15px 0;
  }
  .bg__inner {
    padding: 20px;
    display: block;
  }
  .bg__inner-title {
    font-size: 20px;
  }
  .bg__inner-text {
    margin: 25px 0;
    font-size: 18px;
  }
  .about__inner {
    max-width: 499px;
    display: block;
  }
  .about__img {
    margin-top: 20px;
    text-align: center;
  }
  .about__img img {
    width: 330px;
  }
  /*    .news__cards-card {
          display: none;
      } */
  .shops__about {
    grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
  }
  .shops__about-card {
    width: 160px;
    height: 150px;
  }
  .shops__info-shop {
    font-size: 16px;
    font-weight: 500;
  }
  .order__card-img {
    display: none;
  }
  .order__card {
    padding: 0 15px;
  }
}/*# sourceMappingURL=style.css.map */